---
const base = import.meta.env.BASE_URL;
const pathname = new URL(Astro.request.url).pathname;
const currentPath = (
  base !== "/" ? pathname.replace(base, "") : pathname.slice(1)
).replace(/^\//, "");
---

<nav class="mb-4 flex flex-row items-center gap-2 lg:flex-col lg:items-start lg:gap-0">
	<a
		href={base}
		class:list={[
			"mb-0 cursor-pointer transition-colors duration-200 ease-in-out hover:text-primary hover:underline lg:mb-2",
			{ "text-primary underline": currentPath === "" },
		]}
	>
		Blogs
	</a>
	<a
		href={`${base}uses/`}
		class:list={[
			"mb-0 cursor-pointer transition-colors duration-200 ease-in-out hover:text-primary hover:underline lg:mb-2",
			{ "text-primary underline": currentPath === "uses/" },
		]}
	>
		Uses
	</a>
	<a
		href={`${base}about/`}
		class:list={[
			"mb-0 cursor-pointer transition-colors duration-200 ease-in-out hover:text-primary hover:underline lg:mb-2",
			{ "text-primary underline": currentPath === "about/" },
		]}
	>
		About Me
	</a>
	<a
		class="mb-0 ml-2 cursor-pointer transition-colors duration-200 ease-in-out hover:text-primary hover:underline lg:mb-2 lg:ml-0"
		href={`${base}feed.xml`}
		target="_blank"
		rel="noopener"
	>
		RSS Feed
	</a>
</nav>
